{:episodes
 [{:ep/title "#3 Magnar Sveen - historien om Adventur Delux"
   :ep/description "Magnar Sveen forteller om historien bak og rundt Adventur Delux, et tekstbasert eventyrspill som er like stort som alle Harry Potter-bøkene til sammen - to ganger."
   :ep/subtitle "Software er et fullgodt alternativ til bonsai-hage og andre hobbyer"
   :ep/shownotes ([:p "Magnar finnes på " [:a {:href "https://twitter.com/magnars"} "Twitter (@magnars)"] "."]
                  [:p "Adventur Delux finnes på " [:a {:href "https://adventur.no/"} "adventur.no"] "."])
   :ep/link "/ep/3-magnar-sveen-adventur-delux"
   :ep/youtube-id "JU0FZPVkS1k"
   :ep/guid "ep-003-magnar-sveen-adventur-33c1c7b59d2ef0397d4c2347450994f4"
   :ep/file-url "https://cdn.kodeskikknemnda.no/episodes/003/magnar-v1.mp3"
   :ep/pub-date [2021 10 29]
   :ep/duration "02:07:51"
   :ep/keywords ["Kodeskikknemnda" "programmering" "software" "norsk" "norge" "August Lilleaas" "Magnar Sveen" "Adventur Delux"]}

  {:ep/title "#2 Kaare Nilsen (Arktekk) - om konsulenter som liker sær tech (Scala)"
   :ep/description "Kaare Nilsen fra Arktekk forteller hvordan det er å drive et konsulentselkap som har siktet seg inn på tech som ikke er mainstream."
   :ep/subtitle "Konsulenter skal jo liksom gjøre det kunden vil. Men noen ganger liker konsulentene å velge sær tech. Og det viser seg å være aldeles mulig å få til!"
   :ep/shownotes ([:p "Kaare finner du (noe inaktiv) på " [:a {:href "https://twitter.com/kaarenilsen"} "Twitter (@kaarenilsen)"] ". Arktekk finner du på " [:a {:href "https://arktekk.no/"} "arktekk.no"] "."])
   :ep/link "/ep/2-kaare-nilsen-arktekk-scala"
   :ep/youtube-id "iWlo0Th8--c"
   :ep/guid "ep-002-kaare-arktekk-71a25b8f825fa548d9426362fe9b45ab"
   :ep/file-url "https://cdn.kodeskikknemnda.no/episodes/002/kaare-v3.mp3"
   :ep/pub-date [2021 10 21]
   :ep/duration "00:33:26"
   :ep/keywords ["Kodeskikknemnda" "programmering" "software" "norsk" "norge" "August Lilleaas" "Kaare Nilsen" "Scala" "Arktekk"]}

  {:ep/title "#1 Erik Assum (Ardoq) - om å bruke en sær teknologi, Clojure"
   :ep/description "Erik Assum fra Ardoq forteller om hvordan livet er i et selskap som har valgt å bruke et sært og lite utbredt programmeringsspråk - Clojure."
   :ep/subtitle "Hvordan får man til å ansette folk når man velger et programmeringsspråk som ingen kan?"
   :ep/photo-url "https://cdn.kodeskikknemnda.no/episodes/001/IMG_1334_lg.jpg"
   :ep/photo-url-thumb "https://cdn.kodeskikknemnda.no/episodes/001/IMG_1334_sm.jpg"
   :ep/shownotes ([:p "Erik på " [:a {:href "https://twitter.com/slipset"} "Twitter (@slipset)"] " og på " [:a {:href "https://github.com/slipset"} "GitHub"] "."]
                  [:p "Ardoq søker folk! " [:a {:href "https://www.ardoq.com/about-ardoq#careers"} "https://www.ardoq.com/about-ardoq#careers"]]
                  [:p "Erik sin presentasjon, " [:a {:href "https://vimeo.com/145014129"} "Konsulenteriet må DØ!"] " (Smidig-konferansen, 2015)"]
                  [:p "Paul Graham: Beating The Averages (2001): "
                   [:a {:href "http://www.paulgraham.com/avg.html"}
                    "http://www.paulgraham.com/avg.html"]]
                  [:p "Economies of Scala (bloggpost, 2013): "
                   [:a {:href "https://blog.iterate.no/2013/04/18/economies-of-scala/"}
                    "https://blog.iterate.no/2013/04/18/economies-of-scala/"]]
                  [:p "Economies of Scala (presentasjon, JavaZone 2013): "
                   [:a {:href "https://vimeo.com/74354373"}
                    "https://vimeo.com/74354373"]]
                  [:p "Bloggpost, Devops! Dev? Ops! "
                   [:a {:href "https://www.kodemaker.no/blogg/2019-12-devops/"} "https://www.kodemaker.no/blogg/2019-12-devops/"]]
                  [:p "Bloggpost, Verdt å vite om Set i JavaScript "
                   [:a {:href "https://www.kodemaker.no/blogg/2019-10-javascript-sets/"} "https://www.kodemaker.no/blogg/2019-10-javascript-sets/"]]
                  [:p "Utviklingslandet: Visste du om Vista? Organisasjonskompleksitet er kilden til de fleste bugs. "
                   [:a {:href "https://utviklingslandet.no/ep/2019-05-08/"} "https://utviklingslandet.no/ep/2019-05-08/"]])
   :ep/link "/ep/1-ardoq-clojure"
   :ep/youtube-id "-lp-QAMztkk"
   :ep/guid "ep-001-ardoq-2806c25987"
   :ep/file-url "https://cdn.kodeskikknemnda.no/episodes/001/ardoq-v3.mp3"
   :ep/pub-date [2020 6 6]
   :ep/duration "01:00:54"
   :ep/keywords ["Kodeskikknemnda" "programmering" "software" "norsk" "norge" "August Lilleaas" "Erik Assum" "Clojure" "Ardoq"]}]}


