{:episodes
 [{:ep/title "#1 Ardoq - om å bruke en sær teknologi, Clojure (Erik Assum)"
   :ep/description "Erik Assum fra Ardoq forteller om hvordan livet er i et selskap som har valgt å bruke et sært og lite utbredt programmeringsspråk - Clojure."
   :ep/subtitle "Hvordan får man til å ansette folk når man velger et programmeringsspråk som ingen kan?"
   :ep/shownotes ([:p {} [:img {:style "max-width: 600px" :src "https://s3-eu-west-1.amazonaws.com/cdn.kodeskikknemnda.no/episodes/001/IMG_1334.jpg"}]]
                  [:p "Erik på " [:a {:href "https://twitter.com/slipset"} "Twitter (@slipset)"] " og på " [:a {:href "https://github.com/slipset"} "GitHub"] "."]
                  [:p "Ardoq søker folk! " [:a {:href "https://www.ardoq.com/about-ardoq#careers"} "https://www.ardoq.com/about-ardoq#careers"]]
                  [:p "Erik sin presentasjon, " [:a {:href "https://vimeo.com/145014129"} "Konsulenteriet må DØ!"] " (Smidig-konferansen, 2015)"]
                  [:p "Economies of Scala (bloggpost, 2013): "
                   [:a {:href "https://blog.iterate.no/2013/04/18/economies-of-scala/"}
                    "https://blog.iterate.no/2013/04/18/economies-of-scala/"]]
                  [:p "Economies of Scala (presentasjon, JavaZone 2013): "
                   [:a {:href "https://vimeo.com/74354373"}
                    "https://vimeo.com/74354373"]]
                  [:p "Bloggpost, Devops! Dev? Ops! "
                   [:a {:href "https://www.kodemaker.no/blogg/2019-12-devops/"} "https://www.kodemaker.no/blogg/2019-12-devops/"]]
                  [:p "Bloggpost, Verdt å vite om Set i JavaScript "
                   [:a {:href "https://www.kodemaker.no/blogg/2019-10-javascript-sets/"} "https://www.kodemaker.no/blogg/2019-10-javascript-sets/"]]
                  [:p "Utviklingslandet: Visste du om Vista? Organisasjonskompleksitet er kilden til de fleste bugs. "
                   [:a {:href "https://utviklingslandet.no/ep/2019-05-08/"} "https://utviklingslandet.no/ep/2019-05-08/"]])
   :ep/link "/ep/1-ardoq-clojure"
   :ep/youtube-id "EvWa1Bl9BU4"
   :ep/guid "ep-001-ardoq-6835bc70b461e9cd6f923bc5b89123d6"
   :ep/file-url "https://cdn.kodeskikknemnda.no/episodes/001/ardoq.mp3"
   :ep/pub-date [2020 6 1]
   :ep/duration "01:02:34"
   :ep/keywords ["Kodeskikknemnda" "programmering" "software" "norsk" "norge" "August Lilleaas" "Erik Assum" "Clojure" "Ardoq"]}]}


