body {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.4;
}

a {
    color: blue;
    font-weight: bold;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
        color: #ccc;
    }

    a {
        color: #fff;
    }

    h1, h2 {
        color: #999;
        font-weight: normal;
    }
}