body {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.4;
}

a {
    color: blue;
    font-weight: bold;
}

.episode {
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    background-color: #f7f7f7;
    margin-bottom: 20px;
    padding: 0px 10px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
        color: #ccc;
    }

    a {
        color: #fff;
    }

    h1, h2 {
        color: #999;
        font-weight: normal;
    }

    .episode {
        border-color: #666;
        background-color: #333;
    }
}